<!DOCTYPE html>
<html>
  <head>
    <title>TwitterReferralTrack</title>
    <%= csrf_meta_tags %>
</head>

  <body>
  <ol>
    <% @tweets.each do |tweet| %>
    <li>
    <%= tweet.urls[0].expanded_url %>
    </li>
    <% end %>
    </ol>
  </body>
</html>
